HELP.md
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

application.yml
# 테스트 설정은 가짜 값만 담아 CI가 쓸 수 있게 올린다
!src/test/resources/application.yml
/.gradle
.DS_Store

### Local notes ###
status.md

### OMC (oh-my-claudecode) runtime state ###
.omc/
